h2 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
body {
  background-color: #121212;
  padding: 1rem;
}
.top > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.container {
  background-color: #383838;
  border-radius: 1rem;
  border: 1px solid hsl(0, 0%, 22%);
  overflow: hidden;
}
button {
  float: right;
  color: yellow;
  background-color: #383838;
  border-radius: 0 1rem 0 1rem;
  border: 1px solid yellow;
  padding: 5px 15px;
}
.top {
  clear: right;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.top h1 {
  color: whitesmoke;
  letter-spacing: -0.25px;
}
.bottom img {
  width: 2.5rem;
}
.bottom {
  display: none;
  /* visibility: hidden; */
  justify-content: space-evenly;
}
button :active {
  .bottom {
    display: flex;
  }
  box-shadow: 1px 1px #121212;
}

button:hover {
  cursor: pointer;
}
