h2 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
body {
  background-color: #121212;
  padding: 1rem;
}
.top > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.container {
  background-color: #383838;
  border-radius: 1rem;
  border: 1px solid hsl(0, 0%, 22%);
  overflow: hidden;
}
button {
  float: right;
  color: yellow;
  background-color: #383838;
  border-radius: 0 1rem 0 1rem;
  border: 1px solid yellow;
  padding: 5px 15px;
  transition: all 0.3s;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: yellow;
  color: #383838;
}
button:active {
  color: whitesmoke;
  border: 1.2px solid #383838;
}
.top {
  clear: right;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.top h1 {
  color: whitesmoke;
  letter-spacing: -0.25px;
}
.bottom img {
  width: 2.5rem;
}
.ok {
  height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  color: white;
  font-size: 1rem;
}
.bottom {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.show {
  height: 104.8px;
}
hr {
  border: 4px dotted yellow;
  border-bottom: none;
  width: 5%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
.vanish {
  visibility: visible;
  opacity: 1;
}
